<div id="home">
  <div class="container-fluid intro-container">
        <div class="intro-background"></div>
        <h1>3M SUPPLY SHOPPING</h1>
        <h4>Welcome to 3M Supplies! Shop our latest inventory for all of your office needs!</h4>
  </div>
  <a href="/login"><button>Please login</button></a>
</div>
